{% extends "base.html" %}
{% load static %}


    {% block link %}
    
    {% endblock link %}


    {% block content %}
    <!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>VNC</title>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
        <link rel="stylesheet" href="style.css">
    </head>
    <body>
    
    
       <div class="container mt-4">
        <div class="row row-cols-1 row-cols-md-2 row-cols-lg-4 g-4">
            <!-- Repeat this card structure for each item -->
            <div class="col">
                <div class="card  border-3 border-info" style="height: 370px;">
                    <img src="img/taj.jpg" class="card-img-top" alt="img01"  style="height: 185px;">
                    <div class="card-body bg-secondary" >
                        <h5 class="card-title fw-bold">TAJ MAHAL</h5>
                        <p class="card-text">The Taj Mahal is an ivory-white marble mausoleum on the right bank of the river Yamuna in Agra, Uttar Pradesh, India.</p>
                    </div>
                </div>
            </div>
            <div class="col">
              <div class="card  border-3 border-info" style="height: 370px;">
                  <img src="img/makkha masid.jpeg" class="card-img-top" alt="img01" style="height: 185px;">
                  <div class="card-body bg-secondary">
                      <h5 class="card-title fw-bold">Makkah Masjid</h5>
                      <p class="card-text">The construction of the Makkah Masjid began in the year 1617 CE, during the reign of Sultan Muhammad Qutb Shah, </p>
                  </div>
              </div>
          </div>
          <div class="col">
            <div class="card  border-3 border-info" style="height: 370px;">
                <img src="img/Qutb Minar.jpg" class="card-img-top" alt="img01" style="height: 185px;">
                <div class="card-body bg-secondary">
                    <h5 class="card-title fw-bold">Qutb Minar</h5>
                    <p class="card-text">The Qutb Minar was built over the ruins of the Lal Kot. Qutub Minar was begun after the Quwwat-ul-Islam Mosque.</p>
                </div>
            </div>
        </div>
        <div class="col">
          <div class="card  border-3 border-info" style="height: 370px;">
              <img src="img/juma masjid.jpg" class="card-img-top" alt="img01" style="height: 185px;">
              <div class="card-body bg-secondary">
                  <h5 class="card-title fw-bold">Jama Masjid</h5>
                  <p class="card-text">Its builder is the Mughal emperor Shah Jahan, between 1644 and 1656, and inaugurated by its first Imam.</p>
              </div>
          </div>
      </div>
    
      <div class="col">
        <div class="card  border-3 border-info" style="height: 370px;">
            <img src="img/Red Fort.jpeg" class="card-img-top" alt="img01" style="height: 185px;">
            <div class="card-body bg-secondary">
                <h5 class="card-title fw-bold">Red Fort</h5>
                <p class="card-text">The Red Fort or Lal Qila is a historic fort in Delhi, India, that historically served as the main residence of the Mughal.</p>
            </div>
        </div>
    </div>
    <div class="col">
      <div class="card  border-3 border-info" style="height: 370px;">
        <img src="img/India Gate.jpeg" class="card-img-top" alt="img01" style="height: 185px;">
          <div class="card-body bg-secondary">
            
              <h5 class="card-title fw-bold">Mysore Palace</h5>
              <p class="card-text">This district has a prominent place in india; Mysore  from the year 1399 till the independence of India in the year 1947.</p>
          </div>
      </div>
    </div>
    <div class="col">
      <div class="card  border-3 border-info" style="height: 370px;">
          <img src="img/India Gate.jpeg" class="card-img-top" alt="img01" style="height: 185px;">
          <div class="card-body bg-secondary">
              <h5 class="card-title fw-bold">India Gate </h5>
              <p class="card-text">The India Gate is a war memorial located near the Kartavya path on the eastern edge of the "ceremonial axis" of New Delhi.</p>
          </div>
      </div>
    </div>
    <div class="col">
      <div class="card border-3 border-info" style="height: 370px;">
          <img src="img/charminar.jpeg" class="card-img-top" alt="img01" style="height: 185px;">
          <div class="card-body bg-secondary">
              <h5 class="card-title fw-bold">Charminar</h5>
              <p class="card-text">The Charminar is a monument located in Hyderabad,India. Constructed in 1591.The Charminar is situated east.</p>
          </div>
      </div>
    </div>
    
    </div>
    </div>
    
    </body>
    </html>
    
    {% endblock content %}




{% block script %}


{% endblock script %}